In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('AirQualityUCI.csv')
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(15), object(2)
memory usage: 1.2+ MB

In [4]:
missing_values=df.isnull().sum()
print(missing_values)

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [14]:
print(df.dtypes)

Date              object
Time              object
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
Unnamed: 15      float64
Unnamed: 16      float64
dtype: object

In [15]:
df['CO(GT)'] = pd.to_numeric(df['CO(GT)'], errors='coerce')

In [19]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [20]:
df.fillna(df.mean(), inplace=True)

In [21]:
print(df.dtypes)
print(df.isnull().sum())

Date             float64
Time             float64
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
Unnamed: 15      float64
Unnamed: 16      float64
dtype: object
Date             9471
Time             9471
CO(GT)              0
PT08.S1(CO)         0
NMHC(GT)            0
C6H6(GT)            0
PT08.S2(NMHC)       0
NOx(GT)             0
PT08.S3(NOx)        0
NO2(GT)             0
PT08.S4(NO2)        0
PT08.S5(O3)         0
T                   0
RH                  0
AH                  0
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
# Example using Z-score
from scipy import stats
df = df[(np.abs(stats.zscore(df.select_dtypes(include=[np.number]))) < 3).all(axis=1)]

In [25]:
df['Date'] = pd.to_datetime(df['Date'])  # Convert to datetime

In [26]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [27]:
df.head()

Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH, Unnamed: 15, Unnamed: 16, Year, Month]
Index: []

In [29]:
print(df.describe())
print(df.head())

      Date  Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  \
count    0   0.0     0.0          0.0       0.0       0.0            0.0
mean   NaT   NaN     NaN          NaN       NaN       NaN            NaN
min    NaT   NaN     NaN          NaN       NaN       NaN            NaN
25%    NaT   NaN     NaN          NaN       NaN       NaN            NaN
50%    NaT   NaN     NaN          NaN       NaN       NaN            NaN
75%    NaT   NaN     NaN          NaN       NaN       NaN            NaN
max    NaT   NaN     NaN          NaN       NaN       NaN            NaN
std    NaN   NaN     NaN          NaN       NaN       NaN            NaN

       NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)    T   RH  \
count      0.0           0.0      0.0           0.0          0.0  0.0  0.0
mean       NaN           NaN      NaN           NaN          NaN  NaN  NaN
min        NaN           NaN      NaN           NaN          NaN  NaN  NaN
25%        NaN           NaN      NaN           NaN          NaN  NaN  NaN
50%        NaN           NaN      NaN           NaN          NaN  NaN  NaN
75%        NaN           NaN      NaN           NaN          NaN  NaN  NaN
max        NaN           NaN      NaN           NaN          NaN  NaN  NaN
std        NaN           NaN      NaN           NaN          NaN  NaN  NaN

        AH  Unnamed: 15  Unnamed: 16  Year  Month
count  0.0          0.0          0.0   0.0    0.0
mean   NaN          NaN          NaN   NaN    NaN
min    NaN          NaN          NaN   NaN    NaN
25%    NaN          NaN          NaN   NaN    NaN
50%    NaN          NaN          NaN   NaN    NaN
75%    NaN          NaN          NaN   NaN    NaN
max    NaN          NaN          NaN   NaN    NaN
std    NaN          NaN          NaN   NaN    NaN
Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH, Unnamed: 15, Unnamed: 16, Year, Month]
Index: []